@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Add a new stylist</h4>
@using (Html.BeginForm())
{
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })

  @Html.LabelFor(model => model.StylistName)
  @Html.TextBoxFor(model => model.StylistName)

  @Html.LabelFor(model => model.StylistPhone)
  @Html.TextBoxFor(model => model.StylistPhone)

  @Html.LabelFor(model => model.StylistEmail)
  @Html.TextBoxFor(model => model.StylistEmail)
  @Html.ValidationMessageFor(model => model.StylistEmail, "", new { @class = "text-danger" })

  @Html.LabelFor(model => model.StylistBio)
  @Html.TextAreaFor(model => model.StylistBio)

  <input type="submit" value="Add new stylist" />
}
<p>@Html.ActionLink("Show all stylists", "Index")</p>