@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Add a new stylist</h4>
@using (Html.BeginForm())
{
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })

  @Html.LabelFor(model => model.StylistName)
  @Html.TextBoxFor(model => model.StylistName)

  @Html.LabelFor(model => model.StylistPhone)
  @Html.TextBoxFor(model => model.StylistPhone)

  @Html.LabelFor(model => model.StylistEmail)
  @Html.TextBoxFor(model => model.StylistEmail)
  @Html.ValidationMessageFor(model => model.StylistEmail, "", new { @class = "text-danger" })

  @Html.LabelFor(model => model.StylistBio)
  @Html.TextAreaFor(model => model.StylistBio)

  @Html.LabelFor(model => model.Specialty)
  <span> Hair Stylist </span> @Html.RadioButtonFor(model => model.Specialty, "Cuts")
  <span> Hair Colorist </span> @Html.RadioButtonFor(model => model.Specialty, "Color")
  <span> Barber </span> @Html.RadioButtonFor(model => model.Specialty, "Barber")
  <span> Esthetician </span> @Html.RadioButtonFor(model => model.Specialty, "Esthetician")
  <span> Nail Tech </span> @Html.RadioButtonFor(model => model.Specialty, "Nail Tech")

  <input type="submit" value="Add new stylist" />
}
<p>@Html.ActionLink("Show all stylists", "Index")</p>