@{
  Layout = "_Layout";
}

@using HairSalon.Models
@model HairSalon.Models.Stylist

<h2>Stylist Details</h2>
<hr />

<h3>@Html.DisplayNameFor(model => model.StylistName): @ViewBag.thisStylist.StylistName<h3>
<p>@Html.DisplayNameFor(model => model.StylistPhone): @ViewBag.thisStylist.StylistPhone</p>
<p>@Html.DisplayNameFor(model => model.StylistEmail): @ViewBag.thisStylist.StylistEmail</p>
<p>@Html.DisplayNameFor(model => model.StylistBio): @ViewBag.thisStylist.StylistBio</p>
<p>@Html.DisplayNameFor(model => model.HireDate): @ViewBag.thisStylist.HireDate</p>
<p>@Html.DisplayNameFor(model => model.Specialty): @ViewBag.thisStylist.Specialty</p>

<h2>Clients</h2>
<ol>
@foreach(Client client in ViewBag.clients)
{
  <li>@Html.ActionLink($"{client.ClientName}", "Details", "Clients", new { id = client.ClientId })</li>
}
</ol>

<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = ViewBag.thisStylist.StylistId })</p>
<p>@Html.ActionLink("Edit Stylist", "Edit", new { id = ViewBag.thisStylist.StylistId })</p>
<p>@Html.ActionLink("Back to stylist list", "Index")</p>